<div class="login-container">
  <div class="p-col-12 p-md-6 login-left">
    <div class="form-container">
      <h2 class="text-4x1 pb-0">Bem vindo novamente</h2>
      <p class="mb-8">Informe seus dados</p>
      <form [formGroup]="loginForm">
        <p-floatlabel variant="on">
          <input formControlName="email" required pInputText autocomplete="off" type="email" id="email" class="w-full my-4"/>
          <label for="email">E-mail</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <input formControlName="password" required pInputText autocomplete="off" type="password" id="password" class="w-full my-4"/>
          <label for="password">Senha</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <input formControlName="businessName" required pInputText autocomplete="off" type="text" id="businessName" class="w-full my-4"/>
          <label for="businessName">Empresa</label>
        </p-floatlabel>
        <div class="flex justify-between my-6">
          <div class="p-field-checkbox">
            <p-checkbox value="Lembrar por 30 dias" inputId="ny" />
            <label for="ny" class="ml-2">Lembrar por 30 dias</label>
          </div>
          <a href="#" class="text-primary font-semibold">Esqueceu sua senha?</a>
        </div>
        <div class="grid gap-4">
          <p-button label="Entrar na conta" (click)="login()" fluid/>
          <p-button label="Continuar com o Google" outlined fluid>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Google_%22G%22_logo.svg/768px-Google_%22G%22_logo.svg.png" width="25" class="pr-1">
          </p-button>
          <p-button fluid text severity="secondary">
            Não possui uma conta? <strong>Cadastre-se</strong>
          </p-button>
        </div>
      </form>
    </div>
  </div>

  <div class="login-right">
      <img src="images/login-image.png" alt="Illustration">
  </div>
</div>