<!-- <p-toolbar styleClass="mb-12">
  <ng-template #start>
    <p-button label="Nova" icon="pi pi-plus" class="mr-2" (click)="showDialogRegister()" outlined />
    <p-button severity="danger" label="Deletar" icon="pi pi-trash" text (click)="deleteSelectedCategories()" [disabled]="!selectedCategories || !selectedCategories.length"/>
  </ng-template>

  <ng-template #end>
    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar" auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
    <p-button label="Exportar" icon="pi pi-upload" severity="secondary" />
  </ng-template>
</p-toolbar>

<p class="m-0">
  <p-table
  #tableViewCategories
  [value]="categories"
  dataKey="idCategory"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  editMode="row"
  [(selection)]="selectedCategories"
  sortMode="multiple"
  [globalFilterFields]="['name', 'description', 'createdAt', 'updatedAt', 'status']">

  <ng-template #caption>
    <div class="flex">
      <p-button label="Limpar filtros" [outlined]="true" icon="pi pi-filter-slash" (click)="clearFilters(tableViewCategories)" />
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input #searchBox pInputText type="text" [(ngModel)]="searchValue" (input)="tableViewCategories.filterGlobal(searchBox.value, 'contains')" placeholder="Pesquisar" />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      <th style="min-width: 7rem"></th>
      <th style="min-width: 15rem" pSortableColumn="name">
        <div class="flex items-start">
          Nome
          <p-columnFilter type="text" field="name" display="menu" />
          <p-sortIcon field="name" />
        </div>
      </th>
      <th style="min-width:15rem" pSortableColumn="description">
        <div class="flex items-center">
          Descrição
          <p-columnFilter type="text" field="description" display="menu" />
          <p-sortIcon field="description" />
        </div>
      </th>
      <th style="min-width:10rem"  pSortableColumn="createdAt">
        <div class="flex items-center">
          Data de Criação
          <p-columnFilter type="date" field="createdAt" display="menu" />
          <p-sortIcon field="createdAt" />
        </div>
      </th>
      <th style="min-width:10rem" pSortableColumn="updatedAt">
        <div class="flex items-center">
          Data de Edição
          <p-columnFilter type="numeric" field="updatedAt" display="menu" />
          <p-sortIcon field="updatedAt" />
        </div>
      </th>
      <th style="width: 3rem" pSortableColumn="status">
        <div class="flex items-center">
          Status
          <p-columnFilter type="boolean" field="status" display="menu" />
          <p-sortIcon field="status" />
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-category let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="category">
      <td style="width: 3rem">
        <p-tableCheckbox [value]="category" />
      </td>
      <td>
        <div class="flex gap-2">
          @if(!editing){
            <p-button pInitEditableRow [rounded]="true" [outlined]="true" severity="secondary" icon="pi pi-pencil" (click)="onRowEditInit(category)"/>
            <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(category)"/>
          } @else {
            <p-button pSaveEditableRow [rounded]="true" [outlined]="true" severity="success" icon="pi pi-check" (click)="onRowEditSave(category)"/>
            <p-button pCancelEditableRow [rounded]="true" [outlined]="true" severity="danger" icon="pi pi-times" (click)="onRowEditCancel(category, ri)"/>
          }
        </div>
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input fluid
                pInputText type="text"
                [(ngModel)]="category.name" />
          </ng-template>
          <ng-template #output>
            {{category.name}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input fluid
              pInputText type="text"
              [(ngModel)]="category.description" />
          </ng-template>
          <ng-template #output>
              {{category.description}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        {{ category.createdAt | date: 'dd/MM/yyyy' }}
      </td>
      <td>
        {{ category.updatedAt | date: 'dd/MM/yyyy' }}
      </td>
      <td class="text-center">
        <p-cellEditor>
          <ng-template #input>
            <p-checkBox [(ngModel)]="category.active" [binary]="true"/>
          </ng-template>
          <ng-template #output>
            <i
              class="pi"
              [ngClass]="{
                  'text-green-500 pi-check-circle': category.active,
                  'text-red-500 pi-times-circle': !category.active
              }"
            ></i>
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="7">Não há nenhuma categoria cadastrada no sistema.</td>
    </tr>
  </ng-template>
</p-table>
</p>

<p-dialog [(visible)]="categoryDialog" [style]="{ width: '450px' }" header="Categoria" [modal]="true">
  <ng-template #content>
    <form [formGroup]="categoryForm">
      <div class="flex flex-col">
        <div>
          <p-floatlabel variant="in" class="col-span-2 w-full">
            <input pInputText id="name" formControlName="name" required autofocus fluid />
            <label for="name">Nome</label>
            <small class="text-red-500" *ngIf="!categoryForm.value.name">O nome é obrigatório.</small>
          </p-floatlabel>
        </div>
        <div>
          <p-floatlabel variant="in" class="col-span-2 w-full">
            <input pInputText id="name" formControlName="description" fluid />
            <label for="description">Descrição</label>
          </p-floatlabel>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancelar" icon="pi pi-times" text (click)="categoryDialog = false" />
    <p-button label="Salvar" icon="pi pi-check" (click)="saveCategory()" />
  </ng-template>
</p-dialog> -->

<pm-panel title="Categorias" subTitle="Organize seus produtos em categorias e subcategorias" [headerPanel]="true"
  class="mx-4">
  <ng-template #actionButton>
    <pm-button label="Nova Categoria" icon="plus" (onClick)="showDialogRegister()" />
  </ng-template>
</pm-panel>

<div class="grid grid-cols-4 gap-4 mx-4 mt-4">
  <pm-card title="Total de Produtos" content="5" subContent="produtos cadastrados" icon="tags" />
  <pm-card title="Categorias Ativas" content="6" subContent="em uso" icon="folder-open" />
  <pm-card title="Principais" content="3" subContent="categorias principais" icon="folder" />
  <pm-card title="Produtos" content="143" subContent="produtos categorizados" icon="tags" />
</div>

<pm-panel title="Filtros" subTitle="Filtre e busque categorias" class="mx-4">
  <div class="flex flex-col sm:flex-row gap-4">
    <pm-input placeholder="Buscar categorias..." class="flex-1" icon="search" />
    <div class="flex gap-2">
      <pm-button outlined label="Todas" [selected]="statusFilter === 'all'" (onClick)="setStatusFilter('all')" />
      <pm-button outlined label="Ativas" type="outlined" (onClick)="setStatusFilter('active')" />
      <pm-button outlined label="Inativas" type="outlined" (onClick)="setStatusFilter('inactive')" />
    </div>
  </div>
</pm-panel>

<pm-panel title="Lista de Categorias" [subTitle]="totalSubcategory + ' categorias encontradas'" class="mx-4">
  <pm-table [configTable]="table" />
</pm-panel>

<pm-dialog icon="tags" title="Nova Categoria" subTitle="Crie uma nova categoria ou subcategoria"
  [(visible)]="categoryDialog">
  <form [formGroup]="categoryForm">
    <div class="grid grid-cols-2 gap-6">
      <pm-card title="Informações Básicas" titleColor="text-primary-400">
        <div class="grid gap-3">
          <pm-input label="Nome da Categoria" placeholder="Ex: Eletrônicos" formControlName="name" />
          <pm-textarea label="Descrição" placeholder="Descreva a categoria..." formControlName="description" />
          <pm-select label="Nome da Categoria" placeholder="Categorias" formControlName="category" [options]="mockData"
            optionLabel="name" optionValue="id" optionColor="categoryColor"
            helpText="Se selecionada, esta será uma subcategoria" />
        </div>
      </pm-card>
      <pm-card title="Configurações" titleColor="text-primary-400">
        <div class="grid gap-6">
          <pm-select label="Cor da Categoria" placeholder="Categorias" formControlName="category" [options]="mockData"
            optionLabel="name" optionValue="id" optionColor="categoryColor" />
          <div class="space-y-2 flex flex-row items-center justify-between rounded-lg border border-green-800/20 p-4">
            <div class="space-y-0.5"><label
                class="font-medium peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-base"
                for="_r_1c_-form-item">Status da Categoria</label>
              <p class="text-[0.8rem] text-muted-foreground" id="_r_1c_-form-item-description">Categoria ativa estará
                disponível para uso</p>
            </div>
            <pm-switch formControlName="active" />
            <input aria-hidden="true" tabindex="-1" type="checkbox" value="on" checked=""
              style="transform: translateX(-100%); position: absolute; pointer-events: none; opacity: 0; margin: 0px; width: 44px; height: 24px;">
          </div>
          <div class="bg-green-900/10 p-4 rounded-lg border border-green-800/20">
            <h4 class="font-medium text-green-400 mb-2">Preview</h4>
            <div class="flex items-center gap-3">
              <div class="w-4 h-4 rounded-full bg-red-400"></div>  <!-- [ngStyle]="{ backgroundColor: categoryForm.get('name')?.value }" -->
              <div>
                <div class="font-medium">{{ categoryForm.get('name')?.value }}</div>
              </div>
            </div>
          </div>
        </div>
      </pm-card>
    </div>
  </form>
</pm-dialog>