<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="Nova" icon="pi pi-plus" class="mr-2" (click)="showDialogRegister()" />
    <p-button severity="danger" label="Deletar" icon="pi pi-trash" outlined (click)="deleteSelectedSubcategories()" [disabled]="!selectedSubcategories || !selectedSubcategories.length"/>
  </ng-template>

  <ng-template #end>
    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Importar" chooseLabel="Importar" auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
    <p-button label="Exportar" icon="pi pi-upload" severity="secondary" />
  </ng-template>
</p-toolbar>

<p-table
  #tableViewSubcategories
  [value]="subcategories"
  dataKey="idCategory"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  editMode="row"
  [(selection)]="selectedSubcategories"
  sortMode="multiple"
  [globalFilterFields]="['category', 'name', 'description', 'createdAt', 'updatedAt', 'status']">
  
  <ng-template #caption>
    <div class="flex">
      <p-button label="Limpar filtros" [outlined]="true" icon="pi pi-filter-slash" (click)="clearFilters(tableViewSubcategories)" />
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input #searchBox pInputText type="text" [(ngModel)]="searchValue" (input)="tableViewSubcategories.filterGlobal(searchBox.value, 'contains')" placeholder="Pesquisar" />
      </p-iconfield>
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      <th style="min-width: 15rem" pSortableColumn="name">
        <div class="flex align-items-center">
          Categoria 
          <p-columnFilter type="text" field="name" display="menu" />
          <p-sortIcon field="name" />
        </div>
      </th>
      <th style="min-width: 15rem" pSortableColumn="name">
        <div class="flex align-items-center">
          Nome 
          <p-columnFilter type="text" field="name" display="menu" />
          <p-sortIcon field="name" />
        </div>
      </th>
      <th style="min-width:15rem" pSortableColumn="description">
        <div class="flex align-items-center">
          Descrição
          <p-columnFilter type="text" field="description" display="menu" />
          <p-sortIcon field="description" />
        </div>
      </th>
      <th style="min-width:10rem"  pSortableColumn="createdAt">
        <div class="flex align-items-center">
          Data de Criação
          <p-columnFilter type="date" field="createdAt" display="menu" />
          <p-sortIcon field="createdAt" />
        </div>
      </th>
      <th style="min-width:10rem" pSortableColumn="updatedAt">
        <div class="flex align-items-center">
          Data de Edição
          <p-columnFilter type="numeric" field="updatedAt" display="menu" />
          <p-sortIcon field="updatedAt" />
        </div>
      </th>
      <th style="width: 3rem" pSortableColumn="status">
        <div class="flex align-items-center">
          Status
          <p-columnFilter type="boolean" field="status" display="menu" />
          <p-sortIcon field="status" />
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-subcategory let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="subcategory">
      <td style="width: 3rem">
        <p-tableCheckbox [value]="subcategory" />
      </td>
      <td>
        {{ subcategory.category }}
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input fluid
                pInputText type="text"
                [(ngModel)]="subcategory.name" />
          </ng-template>
          <ng-template #output>
            {{subcategory.name}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input fluid
              pInputText type="text"
              [(ngModel)]="subcategory.description" />
          </ng-template>
          <ng-template #output>
              {{subcategory.description}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        {{ subcategory.createdAt | date: 'dd/MM/yyyy' }}
      </td>
      <td>
        {{ subcategory.updatedAt | date: 'dd/MM/yyyy' }}
      </td>
      <td class="text-center">
        <p-cellEditor>
          <ng-template #input>
            <p-checkBox [(ngModel)]="subcategory.active" [binary]="true"/>
          </ng-template>
          <ng-template #output>
            <i
              class="pi"
              [ngClass]="{
                  'text-green-500 pi-check-circle': subcategory.active,
                  'text-red-500 pi-times-circle': !subcategory.active
              }"
            ></i>
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="8">Não há nenhuma subcategoria cadastrada no sistema.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="subcategoryDialog" [style]="{ width: '450px' }" header="Subcategoria" [modal]="true">
  <ng-template #content>
    <form [formGroup]="subcategoryForm">
      <div class="flex flex-column">
        <div>
          <p-floatlabel variant="in" class="col-2 w-full">
            <p-select showClear="true" formControlName="idCategory" inputId="in_label" [options]="categories" optionLabel="name" optionValue="idCategory" styleClass="w-full"/>
            <label for="in_label">Categoria</label>
            <small class="text-red-500" *ngIf="!subcategoryForm.value.idCategory">A categoria é obrigatória.</small>
          </p-floatlabel>
          <p-floatlabel variant="in" class="col-2 w-full">
            <input pInputText id="name" formControlName="name" required autofocus fluid />
            <label for="name">Nome</label>
            <small class="text-red-500" *ngIf="!subcategoryForm.value.name">O nome é obrigatório.</small>
          </p-floatlabel>
        </div>
        <div>
          <p-floatlabel variant="in" class="col-2 w-full">
            <input pInputText id="name" formControlName="description" fluid />
            <label for="description">Descrição</label>
          </p-floatlabel>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancelar" icon="pi pi-times" text (click)="subcategoryDialog = false" />
    <p-button label="Salvar" icon="pi pi-check" (click)="saveSubcategory()" />
  </ng-template>
</p-dialog>