@if(label){
  <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 pb-2">
    {{ label }}
    @if(ngControl?.invalid && ngControl?.touched){
      <span>*</span>
    }
  </label>
}
<textarea
  [ngClass]="class"
  [placeholder]="placeholder"
  [value]="value"
  [disabled]="disabled"
  (input)="onInput($event)"
  (blur)="onTouched()"
  class="flex w-full rounded-md border px-3 py-2 text-sm resize-none h-[80px]
    focus-visible:ring-primary-400 focus:outline-primary-400 focus:outline-2
    placeholder:text-muted-foreground bg-background/50 border-primary-800/20 focus:border-primary-600
    disabled:cursor-not-allowed disabled:opacity-50 mt-2"
></textarea>
