<p-drawer [(visible)]="visible">
  <ng-template #header>
      <div class="flex gap-2 items-center">
        <img src="images/logo.png" width="175">
      </div>
  </ng-template>
  <div class="overflow-y-auto">
    <ul class="list-none m-0 p-0">
      <li>
        <div
        pRipple
        pStyleClass="@next"
        enterFromClass="hidden"
        enterActiveClass="animate-slidedown"
        leaveToClass="hidden"
        leaveActiveClass="animate-slideup"
        class="p-2 flex items-center justify-between cursor-pointer p-ripple p-surface-200"
        >
          <span class="font-medium">MENUS</span>
          <i class="ml-1 pi pi-chevron-down"></i>
        </div>
        <ul class="list-none p-0 m-0 overflow-hidden p-surface-300">
          <li>
            <a pRipple class="flex items-center cursor-pointer p-6 rounded-border duration-150 transition-colors p-ripple">
              <i class="pi pi-home mr-2"></i>
              <span class="font-medium">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="admin/category" pRipple class="p-surface-300 no-underline flex items-center cursor-pointer p-6 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
              <i class="pi pi-home mr-2"></i>
              <span class="font-medium">Categorias</span>
            </a>
          </li>
          <li>
            <a href="admin/subcategory" pRipple class="p-surface-300 no-underline flex items-center cursor-pointer p-6 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
              <i class="pi pi-home mr-2"></i>
              <span class="font-medium">Sub Categorias</span>
            </a>
          </li>
          <li>
            <a href="admin/product" pRipple class="p-surface-300 no-underline flex items-center cursor-pointer p-6 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
              <i class="pi pi-home mr-2"></i>
              <span class="font-medium ">Produtos</span>
            </a>
          </li>
          <li>
            <a href="admin/stock-control/stock-adjustment" pRipple class="p-surface-300 no-underline flex items-center cursor-pointer p-6 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
              <i class="pi pi-home mr-2"></i>
              <span class="font-medium ">Controle de Estoque</span>
            </a>
          </li>
          <li>
            <a href="admin/stock-control/movement" pRipple class="p-surface-300 no-underline flex items-center cursor-pointer p-6 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
              <i class="pi pi-home mr-2"></i>
              <span class="font-medium ">Movimentações</span>
            </a>
          </li>
          <li>
            <a href="admin/open-order/list" pRipple class="p-surface-300 no-underline flex items-center cursor-pointer p-6 rounded-border text-surface-700 dark:text-surface-100 hover:bg-surface-100 dark:hover:bg-surface-700 duration-150 transition-colors p-ripple">
              <i class="pi pi-home mr-2"></i>
              <span class="font-medium ">Comandas Abertas</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <ng-template #footer>
      <div class="flex gap-2 items-center justify-between">
        <div class="flex items-center">
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
          <span class="ml-2 font-bold capitalize">{{ user.name }}</span>
        </div>
        <button
          pButton
          label="Deslogar"
          icon="pi pi-sign-out"
          class=""
          severity="danger"
          text
          (click)="logout()"></button>
      </div>
  </ng-template>
</p-drawer>

<button pButton (click)="visible = true" icon="pi pi-bars" [rounded]="true" [text]="true"></button>