<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Lista de Produtos</p-tab>
    <p-tab value="1">Cadastrar Produto</p-tab>
    <p-tab value="2">Editar Produtos</p-tab>
    <p-tab disabled>Importar Produtos</p-tab>
    <p-tab disabled>Exportar Produtos</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <p-dataview #dv [value]="products()" [layout]="layout">
        <ng-template #header>
            <div class="flex justify-content-end">
                <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
                    <ng-template #item let-item>
                        <i class="pi " [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
                    </ng-template>
                </p-selectbutton>
            </div>
        </ng-template>
        <ng-template #list let-items>
            <div *ngFor="let item of items; let first = first">
                <div
                    class="flex flex-col sm:flex-row sm:align-items-center p-3 gap-4"
                    [ngClass]="{ 'border-top-1 border-gray-800 dark:border-surface-700': !first }"
                >
                    <div class="md:w-40 relative">
                        <img
                            class="block xl:block mx-auto rounded w-8"
                            [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + item.image"
                            [alt]="item.name"
                        />
                        <p-tag
                            [value]="item.inventoryStatus"
                            [severity]="getSeverity(item)"
                            class="absolute"
                            styleClass="dark:!bg-surface-900"
                            [style.left.px]="50"
                            [style.top.px]="4"
                        />
                    </div>
                    <div class="flex flex-col md:flex-row justify-content-between align-items-center flex-1 gap-6">
                        <div class="flex flex-row md:flex-col justify-content-between items-start gap-2">
                            <div>
                                <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ item.category }}</span>
                                <div class="text-lg font-medium mt-2">{{ item.name }}</div>
                            </div>
                            <div class="bg-surface-100 p-1" style="border-radius: 30px">
                                <div
                                class="bg-surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                                style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                >
                                  <div>Quantidade: {{item.quantity}}</div>
                                    <!-- <span class="text-surface-900 font-medium text-sm">{{ item.rating }}</span> -->
                                    <!-- <i class="pi pi-star-fill text-yellow-500"></i> -->
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col md:items-end gap-8">
                            <span class="text-xl font-semibold">{{ item.price | currency: 'BRL' }}</span>
                            <div class="flex flex-row-reverse md:flex-row gap-2">
                                <!-- <button pButton icon="pi pi-heart" [outlined]="true"></button> -->
                                <button
                                    pButton
                                    icon="pi pi-shopping-cart"
                                    label="Adicionar no Carrinho"
                                    [disabled]="item.inventoryStatus === 'FORA DE ESTOQUE'"
                                    class="flex-auto md:flex-initial whitespace-nowrap"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #grid let-items>
            <div class="grid grid-cols-12 gap-4">
                <div *ngFor="let product of items" class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2">
                    <div
                        class="p-3 border-top-1 border-gray-800 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded flex flex-col"
                    >
                        <div class="bg-surface-50 flex justify-content-center rounded p-4">
                            <div class="relative mx-auto">
                                <img
                                    class="rounded w-10"
                                    [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
                                    [alt]="product.name"
                                    style="max-width: 300px"
                                />
                                <p-tag
                                    [value]="product.inventoryStatus"
                                    [severity]="getSeverity(product)"
                                    class="absolute"
                                    styleClass="dark:!bg-surface-900"
                                    [style.left.px]="4"
                                    [style.top.px]="4"
                                />
                            </div>
                        </div>
                        <div class="pt-6">
                            <div class="flex flex-row justify-content-between products-start gap-2">
                                <div>
                                    <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{
                                        product.category
                                    }}</span>
                                    <div class="text-lg font-medium mt-1">{{ product.name }}</div>
                                </div>
                                <div class="bg-surface-100 p-1" style="border-radius: 30px; height:100%">
                                    <div
                                        class="bg-surface-0 flex products-center gap-2 justify-content-center py-1 px-2"
                                        style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)"
                                    >
                                        <!-- <span class="text-surface-900 font-medium text-sm">{{ product.rating }}</span> -->
                                        <!-- <i class="pi pi-star-fill text-yellow-500"></i> -->
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col gap-6 mt-6">
                                <span class="text-2xl font-semibold">{{ product.price | currency: 'BRL' }}</span>
                                <div class="flex gap-2">
                                    <button
                                        pButton
                                        icon="pi pi-shopping-cart"
                                        label="Adicionar no Carrinho"
                                        [disabled]="product.inventoryStatus === 'FORA DE ESTOQUE'"
                                        class="flex-auto whitespace-nowrap"
                                    ></button>
                                    <!-- <button pButton icon="pi pi-heart" outlined></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
      </p-dataview>
    </p-tabpanel>
    <p-tabpanel value="1">
      <p class="m-0">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
          dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
          modi.
      </p>
    </p-tabpanel>
    <p-tabpanel value="2">
      <p class="m-0">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
          atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
          sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
          facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
          impedit quo minus.
      </p>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>