<div class="p-6 pt-0">
	<div class="rounded-md border border-green-800/20 overflow-hidden">
		<div class="relative w-full overflow-auto">
			<table class="w-full caption-bottom text-sm">
				<thead>
					<tr
						class="border-b border-stone-800 transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted bg-green-900/10">
						@for (col of configTable()?.columns; track col.id) {
						<th class="h-12 px-4 text-left align-middle text-muted-foreground font-medium">{{ col.label }}</th>
						}
						@for(button of configTable()?.buttons; track button) {
						<th class="h-12 px-4 text-left align-middle text-muted-foreground font-medium"></th>
						}
					</tr>
				</thead>
				<tbody>
					@for (row of configTable()?.data; track row) {
					<tr class="border-b border-stone-800 transition-colors data-[state=selected]:bg-muted hover:bg-primary-900/5">
						@for (col of configTable()?.columns; track col.id) {
						<td class="p-4 align-middle">
							<pm-table-cell [col]="col" [row]="row" />
						</td>
						}
						@if(configTable()?.buttons){
						<td class="p-4 align-middle">
							@for(button of configTable()?.buttons; track button) {
							<button
								class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background
								transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none
								disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-accent hover:text-accent-foreground h-8 w-8 p-0"
								type="button"><lucide-angular [name]="button.icon" /></button>
							}
						</td>
						}
					</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>